.news-list__card_date {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin: 20px 0 12px 24px;
    max-width: 80%;
}

@media screen and (max-width: 780px) {
    .news-list__card_date {
        margin: 16px 0 10px 16px;
    }
}