.popup__text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #2F71E5;
    margin-top: 0;
    margin-bottom: 9px;
    text-decoration: none;
}