@import url(./_type_save/popup__button_type_save.css);
@import url(./_active/popup__button_active.css);

.popup__button {
  width: 360px;
  height: 64px;
  margin-top: 39px;
  margin-bottom: 16px;
  background-color: #E6E8EB;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  border: 0;
}