@import url(../button/_unauth/button_unauth.css);
@import url(../button/_search/button_search.css);
@import url(../button/_card-list/button_cardlist.css);

.button {
    border-radius: 100px;
    display: block;
    cursor: pointer;
  }

.button:active {
  border: none;
  outline: none;
}

.button:focus {
  border: none;
  outline: none;
}