.news-list__card_title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    /*margin-top: 0;
    margin-bottom: 16px;*/
    margin: 0;
    overflow: hidden;
    max-height: 90px;
}