.search__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    text-align: start;
    margin-top: 0;
    margin-bottom: 32px;
    max-width: 400px;
}