.wrap_background_main {
    padding-bottom: 80px;
}

@media screen and (max-width: 780px) and (min-width: 428px) {
    .wrap_background_main {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 427px) {
    .wrap_background_main {
        padding-bottom: 32px;
    }
}