@import url(../search/__title/search__title.css);
@import url(../search/__content/search__content.css);
@import url(../search/__text/search__text.css);
@import url(../search/__form/search__form.css);
@import url(../search/__input/search__input.css);

.search {
    display: flex;
    justify-content: center;
    color: #fff;
    max-width: 100%;
}
