.popup__content {
  width: 430px;
  min-height: 182px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 28px 36px;
}

@media screen and (max-width: 540px) and (min-width: 490px) {
  .popup__content {
    width: calc(100% - 60px);
  }
}


@media screen and (max-width: 490px) {
  .popup__content {
    width: 100%;
    height: 100vh;
    border-radius: 16px 16px 0 0;
  }
}