.about-author__title {
    color: #1A1B22;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    margin-top: 51px;
    margin-bottom: 24px;
}


@media screen and (max-width: 980px) {
    .about-author__title{
        margin-top: 0;
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 480px) {
    .about-author__title {
        margin-bottom: 16px;
    }
}