.wrap.about-author {
    margin-top: 80px;
    margin-bottom: 80px;
}

@media screen and (max-width: 980px) and (min-width: 481px) {
    .wrap.about-author {
        margin-top: 40px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 480px) {
    .wrap.about-author {
        margin-top: 32px;
        margin-bottom: 80px;
    }
}