@import url(./__nav-block/header__nav-block.css);
@import url(./__title/header__title.css);
@import url(./__nav-list/header__nav-list.css);
@import url(./__link/header__link.css);
@import url(./__navigation/header__navigation.css);
@import url(./_main-page/header_main-page.css);
@import url(./__button/header__button.css);
@import url(./_savenews/header_savenews.css);
@import url(./__popup/header__popup.css);
@import url(./__menu-icon/header__menu-icon.css);
@import url(./__title-block/header__title-block.css);
@import url(./__underline/header__underline.css);

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 540px) {
    .header {
        flex-direction: column;
    }
}

