@import url(./_trash-icon/news-list__card_icon_trach-icon.css);
@import url(./mark-icon/news-list__card_icon_mark-icon.css);

.news-list__card_icon {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1;
}

@media screen and (max-width: 800px) {
    .news-list__card_icon {
        top: 8px;
        right: 8px;
    }
}